<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@4.0.2/dist/vue-loading.css">

    <link rel="stylesheet" href="./css/all.min.css">
    <title>Document</title>
</head>





<div class="container" id="vue-shpopping-cart">

    <div class="row justify-content-center">
        <h1 class="text-center mb-3">我的購物車</h1>
        <div class="col-lg-8 mb-4">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="row g-0 d-none d-md-flex">
                            <th scope="col" class="col-5">品項</th>
                            <th scope="col" class="col-2">單價</th>
                            <th scope="col" class="col-2">數量</th>
                            <th scope="col" class="col-2">金額</th>
                            <th scope="col" class="col-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-is="'cart-table'" :prop-shopping-cart="cartsList" @emit-change-qty="$on_changeQty"
                            @emit-delete-cart="$on_deleteCart">

                            <template #final-total>
                                <p>總計 - {{cartsList.final_total}}</p>
                            </template>
                        </tr>

                    </tbody>

                </table>

            </div>

            <div id="totalPrice" class="">總計 - {{cartsList.final_total}} </div>
        </div>
        <div class="col-lg-4">

            <shopping-car-submit-form></shopping-car-submit-form>
        </div>
    </div>




</div>

<script type="text/x-template" id="shopping-cart">

    <tr v-for="(item, index) in propShoppingCart.carts" :key="index" class="row g-0 align-items-center">
        <td  class="col-md-5 border-0">
            <div class="d-flex align-items-center">
                <img   class="col-6" :src="item.product.imageUrl" alt="">
                <h3 class=" ms-2 fs-4 mb-0">{{item.product.title}}</h3>
            </div>
       
        </td>
        <td class="col-md-2 border-0">NT$ {{item.product.price.toLocaleString()}} 元</td>
        <td class="col-md-2 border-0"> 
                <div class="fs-4 d-flex  align-items-center">
                    <span class="d-block pe-2 | cursor-pointer"  @click="$emit('emit-changeQty', { parent:parent ,data: { qty: item.qty-1,product_id:item.id}})">
                        <i class="bi bi-dash"></i>
                    </span>
                    <input class="col-5 text-center" type="number" readonly :value="item.qty" >
                    <span class="d-block ps-2 | cursor-pointer"  @click="$emit('emit-changeQty', { parent:parent ,data: { qty: item.qty+1,product_id:item.id}})">
                        <i class="bi bi-plus"></i>
                    </span>
              </div> 
        </td>
        <td class="col-md-2 border-0">NT$ {{item.final_total.toLocaleString()}} 元</td>
        <td class="col-md-1 border-0" @click="$emit('emit-deleteCart',{ parent:parent ,data:{id :item.id ,title:item.product.title }})">
            <span class="cursor-pointer" ><i class="bi bi-x-lg"></i></span></td>
        </tr>
        <tr class="col-12"> <slot name='final-total'>  </slot> </tr>
      
     
      
</script>

<script type="text/x-template" id="shopping-car-submit-form">
    <v-form @submit="onSubmit" v-slot="{errors}">
        {{errors}}
         <div class="mb-3">
           <label for="email" class="form-label">Email</label>
           <v-field id="email" name="email" type="email" class="form-control" v-model="user.email"
             :class="{ 'is-invalid' : errors['email']}" rules="email|required" placeholder="請輸入 Email"></v-field>
           <error-message name="email" class="invalid-feedback"></error-message>
         </div>

         <div class="mb-3">
           <label for="name" class="form-label">姓名</label>
           <v-field id="name" name="姓名" type="text" class="form-control" :class="{ 'is-invalid' : errors['姓名']}" v-model="user.name"
             rules="required" placeholder="請輸入姓名"></v-field>
           <error-message name="姓名" class="invalid-feedback"></error-message>
         </div>

         <div class="mb-3">
           <label for="phone" class="form-label">電話</label>
           <v-field id="phone" name="電話" type="text" class="form-control" :class="{ 'is-invalid' : errors['電話']}" v-model="user.phone"
             :rules="isPhone" placeholder="請輸入電話"></v-field>
           <error-message name="電話" class="invalid-feedback"></error-message>
         </div>

         <div class="mb-3">
           <label for="region" class="form-label">地區</label>
           <v-field as="select" id="region" name="地區" class="form-control" rules="required" v-model="user.county"
             :class="{ 'is-invalid' : errors['地區']}">
             <option value="">請選擇地區</option>
             <option value="台北市">台北市</option>
             <option value="高雄市">高雄市</option>
           </v-field>
           <error-message name="地區" class="invalid-feedback"></error-message>
         </div>

         <div class="mb-3">
           <label for="address" class="form-label">地址</label>
           <v-field id="address" name="地址" type="text" class="form-control" rules="required" v-model="user.address"
             :class="{ 'is-invalid' : errors['地址']}" placeholder="請輸入地址"></v-field>
           <error-message name="地址" class="invalid-feedback"></error-message>
         </div>

         <button class="btn btn-primary" type="submit">Submit</button>
       </v-form>
</script>


<script src="https://unpkg.com/vue@3.2.26/dist/vue.global.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@5"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.1.17/vee-validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.1.17/dist/vee-validate-i18n.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.1.17/dist/vee-validate-rules.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
    integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="./JS/vendors/bootstrap/bootstrap.bundle.min.js"></script>

<script src="./JS/cart.js" type="module"></script>
</body>

</html>