<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@5/dist/vue-loading.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/all.min.css">
</head>

<body>

    <div id="vue-product-list">


        <header class="container d-flex justify-content-between position-sticky top-0">
            <h1>首頁</h1>
            <ul>
                <li><a href="#" class="d-block" data-bs-toggle="offcanvas" data-bs-target="#shpping-cart">購物車 <i
                            class="bi bi-cart-fill"></i></a></li>
            </ul>
        </header>



        <section class="container">
            <h2>產品</h2>

            <div class="row justify-content-end">
                <div class=" d-lg-none col-lg-2 d-xl-block">
                    種類
                </div>

                <div class="col-lg-10 mb-3">
                    <ul class="row list-unstyled">
                        <product-list :prop-product-data="productList" @emit-refresh-carts="$on_refreshShoppingCart">
                        </product-list>
                    </ul>
                    <pagination :prop-pagination="pagination" @emit-change-page="$on_changePages">
                    </pagination>
                </div>

            </div>



            <shopping-cart :prop-shopping-cart="cartsList" @emit-change-qty="On_changeQty"
                @emit-delete-cart="On_deleteCart"></shopping-cart>
        </section>
    </div>


    <script type="text/x-template" id="productList">

        <li class="col-md-6 col-lg-4  mb-3 p-3" v-for="(item, index) in productData" :key="index">

        <div class="card">
            <div class="card-hover">
                <img :src="item.imageUrl" class="card-img card-img-top" :alt="item.description">
                <div class="card-img-overlay card--hover d-flex justify-content-center align-items-center">
                    <h5 class="card-title text-center ">查看更多</h5>
                   
                </div>
        
            </div>
        
            <div class="card-body">
                <h5 class="card-title"> {{item.title}}</h5>
                <p class="card-text">{{item.description}}</p>
                <p>原價 :<del> {{item.origin_price.toLocaleString()}}元</del>/{{item.unit}}</p>
                <p>特價 : {{item.price.toLocaleString()}}元/{{item.unit}}</p>
            </div>
            <div class="row">
                <div class="col-6"> <a href="#" class=" w-100 btn btn-primary stretcked-link" @click.prevent="addToCart( { product_id :item.id,qty:1,item})">加入購物車</a></div>
             
            </div>
        </div>
        </li>

</script>

    <script type="text/x-template" id="pagination">
        <ul class="pagination     justify-content-end">
        <li class="page-item " :class="{ disabled :!propPagination.has_pre }"
         @click.prevent=" $emit('emit-change-page', propPagination.current_page-1)">
          <a class="page-link" href="#" >上一頁</a>
        </li>

        <li class="page-item"
         :class="{ active : item===propPagination.current_page }"  
         v-for="(item, index) in  propPagination.total_pages" :key="item"
         @click.prevent=" $emit('emit-change-page', item)">
            <a class="page-link" href="#"  > {{item}} </a>
        </li>
    
        <li class="page-item"   :class="{ disabled : !propPagination.has_next }"
         @click.prevent=" $emit('emit-change-page', propPagination.current_page+1)">
          <a class="page-link" href="#">下一頁</a>
        </li>
      </ul>
</script>

    <script type="text/x-template" id="shopping-cart">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="shpping-cart" aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header align-items-center bg-dark text-white">
          <h3 class="mb-0" id="offcanvasTopLabel ">購物車</h3>
          <button type="button" class="btn-close text-reset bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column justify-content-between off-canvas-scrollbar">
         
                <ul class="list-unstyled mb-0">

                    <li v-for="(item, index) in propShoppingCart.carts" :key="index" class="row mb-3 align-items-center text-dark">
                        <div class="col-5"> <img :src="item.product.imageUrl" alt="" ></div>
                        <div class="col-5 d-flex flex-column justify-content-between"> 
                            <h4>{{item.product.title}} </h4>
        
                            <div class="fs-1 d-flex justify-content-center align-items-center" >
                                <span  class="d-block pe-2 | cursor-pointer" :class="{ 'cursor-not-allowed' : item.qty-1 == 0 }"   
                                @click="$emit('emit-changeQty',   { parent:parent ,data: { qty: item.qty-1,product_id:item.id}})">
                                    <i class="bi bi-dash"></i>
                                </span>
                                <span class="px-2"> {{item.qty}}</span>
                                <span  class="d-block ps-2 | cursor-pointer" @click="$emit('emit-changeQty', { parent:parent ,data: { qty: item.qty+1,product_id:item.id}})" >
                                    <i class="bi bi-plus"></i>
                                </span>
                            </div>
                        </div>
                        <a href="#" class="col-2 text-center" 
                         @click="$emit('emit-deleteCart',{ parent:parent ,data:{id :item.id ,title:item.product.title }})" title="確定要刪掉嗎 QQ"><i class="bi bi-trash-fill fs-4 link"></i></a>
                    </li>
                  </ul>
                  
                  <section class="position-absolute start-0 end-0 bottom-0 mb-0 bg-white px-3 py-4" >
                    <h3 class="fw-bold mb-3">總計: {{propShoppingCart.final_total}}元 </h3>  

                    <a class="btn btn-dark w-100" href="./cart.html">前往購物車</a>
                  </section>
                    
   </div>

                        
      </div>
</script>






    <script src="https://unpkg.com/vue@3.2.26/dist/vue.global.js"></script>
    <!-- Lastly add this package -->
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@5"></script>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
        integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./JS/vendors/bootstrap/bootstrap.bundle.min.js"></script>

    <script src="./JS/index.js" type="module"></script>

</body>

</html>